* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior : smooth;
}

@keyframes ngetik {
  0% { width: 0; }
  100% { width: 100%;}
}

@keyframes bounce {
    0%   { transform: scale(0); rotate: 360deg;}
    20%  { transform: scale(1.2); rotate : 0deg;}
    50% { transform: scale(1); }
    70% { transform: scale(1);}
    90% { transform: scale(1.2); rotate : 0deg;}
    100% {transform: scale(0); rotate : 360deg;}
}

a {
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}

h1{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    color: #F48037;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}

p {
    font-family: "JetBrains Mono", monospace;
}

.container {
    display: flex;
    position: relative;
}

.judul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.animasingetik {
    border-right: 3px solid white;
    overflow: hidden;
    white-space: nowrap;
    animation: ngetik 3s infinite alternate ease-in-out;
}

.tentangkontak {
    color: #F48037;
    text-align: center;
    border: 2px solid #F48037;
    padding: 10px;
    border-radius: 10px;   
    cursor: pointer;
    transition: 0.5s ease;
}

.tentangkontak:hover {
    border: 2px solid grey;
    background-color: #F48037;
    color: black;
    cursor: pointer;
    text-align: center;   
}

.isitentangkotak a {
    font-size: 14px;
    color: black;
}


.isipendidikan {
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.infosekolah {
    gap: 20px;
    align-items: center;
}

.itemsekolah img{
    width: 100px;
}

.isisekolah {
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #242424;
    transition: transform 0.5s ease-in-out;
    
}

.isisekolah:hover {
    transform: scale(1.2);
    z-index: 999;
    border: 2px solid #F48037;
    background-color: #2A2A36;
}

.isikeahlian {
    justify-content: center;
    align-items: center;
}

.itemkeahlian img{
    width: 150px;
    margin-right: 20px;
}

.itemkeahlian {
    align-items: center;
    width: 190px;
    padding: 20px;
    overflow: visible;
    white-space: nowrap;
    transition: width 0.5s;
}

.itemkeahlian:hover {
    align-items: center;
    width: 510px;
    padding: 15px;
    border: 5px solid #F48037;
    background-color: #F1F3F4;
    border-radius : 20px;
}

.bariskeahlian {
    padding: 25px;
    gap: 50px;
}

.card {
    width: 260px;
    height: 370px;
    perspective: 1000px;
}

.inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    backface-visibility: hidden; 
}

.back {
    transform: rotateY(180deg);
}


.tabelkarya {
    justify-content: center;
    margin-bottom: 100px;
}

.isikarya {
    justify-content: space-between;
    align-items: center;
}

.infovideo {
    gap: 10px;
}


.posisivideo {
    height: 300px;
    text-align: center;
}

.isikontak {
    padding-bottom: 50px;
    justify-content: center;
}

.kotakitem {
    justify-content: center;
}

.isitentangkotak {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    background-color: #242424;
    border: hidden;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #333333;
    transition: transform 1s ease;
}

.isitentangkotak:hover {
    background-color: #1A1A24;
    transform: scale(1.2);
    cursor: pointer;
    font-weight: bold;
    border: 2px solid cyan;
}

.itemkategori {
    gap: 4px;
    cursor: pointer;
    margin-top:10px;
    color : #E0E0E0;
    border: 1px solid #333;
    background-color: #1E1E2E;
    border-radius : 10px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: 0.5s ease;
}

.itemkategori:hover {
    gap: 4px;
    margin-top:10px;
    border: 1px solid #00E5FF;
    background-color: #1E1E2E;
    color : #E0E0E0;
    border-radius : 10px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.kategoridipilih {
    gap: 4px;
    cursor: pointer;
    margin-top: 10px;
    border-radius : 10px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #F48037;
    background-color: #F48037;
    color: black;
}

.boxform {
    justify-content: center;
    padding : 20px;
    border-radius : 10px;
    background-color: #1E1E2E;
    border: 2px solid #F48037;
}

.hidden {
    display: none;
}

.isibox {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.tombol {
    cursor: pointer;
    background-color: #F48037;
}

.tombol:hover {
    background-color: cyan;
}

.error {
    border: 1px solid red;
}

.gambarkontak img {
    width: 30px;
}

.col5 {
    width: 5%;
}

.col8 {
    width: 8%;
}

.col10 {
    width: 10%;
}

.col12 {
    width: 12%;
}

.col15 {
    width: 15%;
}

.col17 {
    width: 17%;
}

.col18 {
    width: 18%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col23 {
    width: 23%;
}

.col30 {
    width: 30%;
}

.col35 {
    width: 35%;
}

.col40 {
    width: 40%;
}

.col45 {
    width: 45%;
}

.col50 {
    width: 50%;
}

.col58 {
    width: 58%;
}

.col60 {
    width: 60%;
}

.col65 {
    width: 65%;
}

.col70 {
    width: 70%;
}

.col75 {
    width: 75%;
}

.col80 {
    width: 80%;
}

.col83 {
    width: 83%;
}

.col85 {
    width: 85%;
}

.col90 {
    width: 90%;
}

.col95 {
    width: 95%;
}

.col100 {
    width: 100%;
}

@media (max-width : 1400px) {
    #gambarkartun img {
        width: 90%;
    }

    #sertifikatseminar img {
        width: 90%;
    }

    #isisertifikat1 {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    #isisertifikat2, .itemserti {
        margin-bottom: 20px;
        text-align : center;
        width: 100%;
        display: block;
    }

    #kotakbesar {
        width: 90%;
    }
    
    #kotakbesar:hover {
        transform: scale(1.05);
    }

    .itemkeahlian img {
        width: 140px;
    }

    .itemkeahlian:hover {
        width: 440px;
    }

    #Website {
        width: 20%;
    }

    #Programming {
        width: 30%;
    }

    #Animation {
        width: 25%;
    }

    #Desain {
        width: 35%;
    }

    #Networking {
        width: 25%;
    }
}


@media (max-width : 1265px) {
    #hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 999;
    }
    #hamburger span {
        margin-right: 30px;
        width: 30px;
        height: 3px;
        background-color: #F48037;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #pilihannavbar {
        display: none ;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px 0;
        z-index: 998;
    }

    #pilihannavbar.aktif {
        display: flex;
    }
    
    .itemnavbar a {
        font-size: 16px;
        padding: 12px 20px;
        display: block;
    }

    .itemnavbar a:hover {
        font-size: 16px;
        padding: 12px 20px;
        display: block;
    }

    .itemkategori, .kategoridipilih, #tabelsearch {
        display: inline-block;
        text-align : center;
    }

    #gambarkartun {
        margin-left: 100px;
    }

    
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    #halaman {
        overflow-x: hidden;
        width: 100%;
    }

    #halamanutama {
        overflow-x: hidden;
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size : 30px;
    }

    h3 {
        font-size : 20px;
    }

    p {
        font-size: 12px;
    }

    #gambarkartun {
        margin-left: 0;
    }

    #isinavbar {
        width: 100%;
    }
    #isinavbar img {
        width: 150px; 
        margin-left: 30px;
    }

    .judul {
        margin-top: -50px;
    }

    #isitentang {
        gap: 0;
        width: 90%;
        display: block;
    }

    .item {
        width: 100%;
    }

    #gambarkartun {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    #pendidikan {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .isipendidikan {
        width: 100%;
    }

    .isisekolah {
        display: block;
        width: 100%;
    }

    .infosekolah {
        display: block;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    .isisekolah:hover {
        transform: scale(1.02);
    }

    .itemsekolah{
        padding-top: 5px;
        align-items: center;
        text-align: center;
    }

    iframe {
        display: block;
        margin-left : auto;
        margin-right: auto;
    }

    #isisearchbar {
        width: 95%;
    }

    .bariskeahlian {
        width: 100%;
        display: inline-block;
    }

    .animasingetik {
        white-space: nowrap;
        min-width: 0%;
        max-width: 100%;
    }

    .itemkeahlian {
        align-items: center;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        width: 140px;
        display: block;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }

    .audio {
        position: relative;
        top : -20px;
    }

    .itemkeahlian img {
        width: 120px;
    }

    .itemkeahlian:hover {
        width: 440px;
    }

    .bariskeahlian {
        margin-bottom: -50px;
    }

    #karya {
        padding-top: 50px;
    }

    .isikarya {
        width: 95%;
        display: block;
    }

    .itemsekolah h2 {
        font-size : 27px;
    }

    .itemsekolah h3 {
        font-size : 20px;
    }

    .itemsekolah p {
        font-size : 12px;
        margin-bottom: 15px;
    }

    .isikarya h1 {
        font-size : 25px;
    }

    .isikarya h2 {
        font-size : 20px;
    }

    .isikarya h3 {
        font-size : 15px;
    }

    .isikarya p {
        font-size : 12px;
    }

    #kontak {
        padding-top: 100px;
    }

    #kotakluarkontak {
        text-align : center;
        align-items: center;
        justify-content: center;
    }

    #judulkeahlian {
        margin-top: 50px;
    }

    .isitentangkotak:hover {
        transform: scale(1.05);
    }

    .boxform {
        width: 90%;
    }


    #tabelform {
        margin-left: 20px;
    }
    
    #tabelform h1 {
        margin-top: 50px;
        padding-left: 180px;
    }

    #utama {
        margin-left: -30px;
    }

    #utama:hover {
        margin-left: -30px;
    }

    .isibox {
        width: 95%;
    }

    #contactForm {
        width: 100%;
    }
}